/** Override Layout CSS **/
#logo {
    position:relative;
    background-color: white;
    display: block;
    line-height: 50px;
}

#top-panel > .row {
    background-color: white;
}

body {
	background-color: #E8E8EF;
}

#outer {
	margin: 0 auto 20px;
	width: 95% !important;
	background-color: #f8f8f8;
    padding-bottom: 1em;
}

#navbar-top-wrapper {
    height: 50px;
}

.navbar-top {
    margin: 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    z-index: 2000;
    /** Remove below css setting, if don't want to use fixed header **/
    position: fixed;
    width: 95%;
}

.navbar-top > .container-fluid {
    background-color: white;
}

.navbar-top > .container-fluid > .row {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#main {
    margin-top: 0px;
    margin-bottom: 1.5em;
}

#main > .row {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.row > #page-header-title {
    height: 60px; 
    width:100%;
    display:flex;
    align-items: center;
}

#content {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/** End of override layout CSS**/

/** Side Menu CSS **/

#sidebar-left {
    background-color: #f8f8f8;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #ddd;
}

.nav.main-menu {
    width: 100%;
    margin: 0px !important;
    background-color: #f8f8f8;
}

.nav.main-menu > li.menu-header {
    height: 36px;
    border-bottom: 1px solid #ddd;
}

.nav.main-menu > li.menu-header > span {
    margin-top: 0px;
	margin-bottom: 0px;
	color: grey;
    line-height: 36px;
    padding-left: 15px;
}

.nav.main-menu > li.group-title > span {
    color: grey;
    padding-left: 15px;
}

.nav.main-menu > li.group-title {
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.nav.main-menu > li.group-title > ul {
    list-style-type: none;
    padding-left: 15px;
}

.nav.main-menu > li.group-title > ul > li > a {
    font-size: 12px;
}

.nav.main-menu > li > ul > li.active > a {
    font-weight: bold;
    color: black;
}

.menu-mask {
	border-top: 1px solid #671e7f;
	width: 90%;
}

/** End of Side Menu CSS **/

/** select2 CSS **/

.select2 {
    font-family: 'FontAwesome', 'Arial'
}

select.btn-primary {
    font-weight: normal;
}

/** End of select2 CSS **/
